{% extends "base.html" %}

{% block content %}
<div class="container text-center"><H2>Последние Отзывы</H2></div>
<table class="table table-bordered">
    <thead class="container text-center">
            <div class="row">
                <th scope="col" class="col-2">Дата</th>
                <th scope="col" class="col-4">Товар/Услуга</th>
                <th scope="col" class="col-4">Отзыв</th>
                <th scope="col" class="col-2">Ср Оценка</th>
            </div>
    </thead>
    <tbody class="table-group-divider text-center">
        <tr>
            <td class="col-2">16.07.2024</td>
            <td class="col-4">!Товар!</td>
            <td class="col-4">!Отзыв!</td>
            <td class="col-2">!Ср оценка!</td>
        </tr>
    </tbody>
</table>
{% endblock %}
